#header{
    text-align: center;
    background-color: rgb(151, 218, 44);
    color: blue;
}
.input-group{
    float: right;
    width: 230px;
}
b{
    /* color: white; */
    text-align: center;
}
#thead{
    color: blue;
    

}
